@model MinhaCarteira.AppCliente.ViewModel.RegraImportacaoViewModel

@{
    ViewData["Title"] = "RegraImportacao";
    ViewData["Icone"] = "<i class='fa fa-home fa-lg'></i>";

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}

<div class="col-11 px-sm-3 px-md-0 pt-4 mx-auto">
    <h1>Detalhes</h1>

    @Html.DisplayFor(model => model)

    <hr />
    <a class="btn btn-default" asp-action="Index">Cancelar</a>
</div>

