@model MinhaCarteira.AppCliente.ViewModel.DashboardMonitorViewModel

@{
    ViewData["Title"] = "Monitor";
    ViewData["Icone"] = "<i class='fa fa-dashboard fa-lg d-inline'></i>";
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            <script nws-csp-add-nonce="true" src="~/js/autoComplete/configurarAutoComplete.js" asp-append-version="true"></script>
            <script nws-csp-add-nonce="true" src="~/js/autoComplete/cadastroAutoComplete.js" asp-append-version="true"></script>
            <script nws-csp-add-nonce="true" src="~/js/views/filtro.js" asp-append-version="true"></script>
        }
    }
}

<form asp-action="Alterar" method="post" class="col-11 px-sm-3 px-md-0 pt-4 mx-auto">
    <h1>Alterar</h1>
    <hr />

    @Html.EditorForModel()
</form>