<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<httpRuntime enableVersionHeader="false" />
		</system.web>
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<httpProtocol>
				<customHeaders>
					<clear/>
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>

			<aspNetCore processPath="dotnet" arguments=".\MinhaCarteira.AppServer.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>

			<security>
				<requestFiltering removeServerHeader="true"/>
			</security>
		</system.webServer>
	</location>
</configuration>