@model MinhaCarteira.AppCliente.ViewModel.MovimentoBancarioViewModel

@{
    var arqCount = Model.MovimentoBancarioArquivos?.Count ?? 0;
    ViewData["Title"] = "Movimento Bancário";
    ViewData["Icone"] = "<i class='fa fa-money-bill-transfer fa-lg d-inline'></i>";
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            <script src="~/js/autoComplete/configurarAutoComplete.js" asp-append-version="true"></script>
            <script src="~/js/autoComplete/cadastroAutoComplete.js" asp-append-version="true"></script>
            <script src="~/js/views/selecionarArquivos.js" asp-append-version="true" nws-csp-add-nonce="true"></script>
            <script asp-append-version="true" nws-csp-add-nonce="true">
                document.addEventListener('DOMContentLoaded', function () {
                    inicializarContador(@arqCount);
                });
            </script>
        }
    }
}

<form asp-action="Alterar" method="post" enctype="multipart/form-data" class="col-11 px-sm-3 px-md-0 pt-4 mx-auto">
    <h1>Alterar</h1>
    <hr />

    @Html.EditorForModel()
</form>