@model MinhaCarteira.AppCliente.ViewModel.MovimentoBancarioViewModel

@{
    ViewData["Title"] = "Movimento Bancário";
    ViewData["Icone"] = "<i class='fa fa-money-bill-transfer fa-lg d-inline'></i>";
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}

<div class="col-11 px-sm-3 px-md-0 pt-4 mx-auto">
    <h1>Detalhes</h1>

    @Html.DisplayFor(model => model)

    <hr />
    <a class="btn @(ViewBag.ClasseBotao)secondary" asp-action="Index">Cancelar</a>
</div>