@model MinhaCarteira.AppCliente.ViewModel.ImportarArquivoViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-sm-6">
    <div class="form-group">
        <label asp-for="DataCriacao" class="control-label"></label>
        <input asp-for="DataCriacao" class="form-control"/>
        <span asp-validation-for="DataCriacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContaBancariaId" class="control-label"></label>
        <input asp-for="ContaBancariaId" class="form-control"/>
        <span asp-validation-for="ContaBancariaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContaBancaria" class="control-label"></label>
        <input asp-for="ContaBancaria" class="form-control"/>
        <span asp-validation-for="ContaBancaria" class="text-danger"></span>
    </div>

</div>

<hr />
<div class="mb-3">
    <input asp-accessando-como type="submit" value="Salvar" class="btn btn-primary" />

    <a class="btn btn-default" asp-action="Index">Cancelar</a>
</div>
