
@model MinhaCarteira.AppCliente.ViewModel.ImportarArquivoViewModel

@{
    ViewData["Title"] = "ImportarArquivo";
    ViewData["Icone"] = "<i class='fa fa-home fa-lg text-primary'></i>";

    @section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}

<h1>Detalhes</h1>

@Html.DisplayFor(model => model)

<hr />
<a class="btn btn-default" asp-action="Index">Cancelar</a>

